.register{
    padding-top: 20%;
    font-family: arial;
    font-size: 15px;
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }

 #submit{
    height: 30px;
    width: 220px;
    margin: 20px 13% auto;
    background-color: rgb(162, 210, 233);
    border-style: hidden;
    border-radius: 5px;
    font-size: 15px;
}

#register-heading{
    padding-left: 35%;
}

.password-container{
    position: relative;
    
}

.show-password{
    position: absolute;
    top: 63%;
    right: 1%;
    cursor: pointer;
  }

